RewriteEngine On
RewriteBase /lab3/
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Newsletters
RewriteRule ^newsletters/?$                        views/newsletters/newsletters.php       [L,QSA]
RewriteRule ^newsletters/add$                      views/newsletters/add_newsletter.php    [L,QSA]
RewriteRule ^newsletters/edit/([0-9]+)$            views/newsletters/edit_newsletter.php?id=$1 [L,QSA]
RewriteRule ^newsletters/delete/([0-9]+)$          views/newsletters/delete_newsletter.php?id=$1 [L,QSA]

# Subscribers
RewriteRule ^subscribers/?$                        views/subscribers/subscribers.php                   [L,QSA]
RewriteRule ^subscribers/add$                      views/subscribers/add_subscriber.php                [L,QSA]
RewriteRule ^subscribers/edit/([0-9]+)$            views/subscribers/edit_subscriber.php?id=$1         [L,QSA]
RewriteRule ^subscribers/delete/([0-9]+)$          views/subscribers/delete_subscriber.php?id=$1       [L,QSA]
RewriteRule ^subscribers/subscribe/([0-9]+)$       views/subscribers/subscribe.php?id=$1               [L,QSA]
